.root {}

.MGF {
    height: 107vh;
    width: 94%;
    margin-left: 60px;
    background-repeat: no-repeat;
    background-image: url('https://wallpapers.com/images/hd/design-black-background-lh6hd1i0ecusnwzg.jpg');
    background-position: 50%;
    background-size: cover;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    background-color: transparent;
}



.form {
    display: flex;
    flex-direction: column;
    width: 700px;
    padding-left: 90px;
}

.h2 {
    font-size: 45px;
    text-align: center;
    color: #FFD200;
    padding-top: 30px;
}

.label {
    font-size: 25px;
    color: #EFEFEF;
    text-align: start;
    align-self: start;
}

.input {
    height: 40px;
}

.btn {
    padding: 0px;
    margin-top: 20px;
    height: 50px;
    width: 100px;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(358deg, #006579 35%, #f6f6f6 100%);
    background-color: transparent;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;
    border-radius: 12px;
    color: #FFFFFF;
}